body{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}


@font-face{
    font-family: arialBlack;
    src: url(arial-black.ttf) ;
}


a{
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
margin: 1em !important;
    padding: 0;
}

#hover-content1 {
    display:none;
}
#parent1:hover #hover-content1 {
    display:block;
}

#hover-content2 {
    display:none;
}
#parent2:hover #hover-content2 {
    display:block;
}

.footer{
    background-color: rgb(255, 255, 255) ;
}

/* @media (max-width: 1044px) {
	article {
		font-size: 0.6em;
	}
} */



@media (max-width: 1044px) {
    .column is-5-tablet{
        margin-top: 0em;
    }
}

@media (max-width: 1300px) {
    .hide-photos{
       display: none;
    }
}
